# Default owners for all files
* @aadorian

# GitHub configuration and workflows
/.github/ @aadorian

# Extension core
/extension.js @aadorian
/package.json @aadorian
/test/ @aadorian
/docs/ @aadorian
/walkthroughs/ @aadorian
